In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style('whitegrid')

In [2]:
df = pd.read_csv('datasets_Life Expectancy Data_No_blanks.csv')
df.head(20)
dataset =  df
print(dataset.values)

[['Afghanistan' 2015 'Developing' ... 17.3 0.479 10.1]
 ['Afghanistan' 2014 'Developing' ... 17.5 0.47600000000000003 10.0]
 ['Afghanistan' 2013 'Developing' ... 17.7 0.47 9.9]
 ...
 ['Zimbabwe' 2002 'Developing' ... 1.3 0.42700000000000005 10.0]
 ['Zimbabwe' 2001 'Developing' ... 1.7 0.42700000000000005 9.8]
 ['Zimbabwe' 2000 'Developing' ... 11.2 0.434 9.8]]

In [3]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
#ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
#X = np.array(ct.fit_transform(df), dtype= object)
#print(X)
df["Country"]= df["Country"].astype('category')
df.dtypes
df["Status"]= df["Status"].astype('category')
df.dtypes
df["Country"]= df["Country"].cat.codes
df["Status"]= df["Status"].cat.codes
#for i in range(20,60,1):
#    print(df.iloc[i,[0,22]],df.iloc[i,[2,23]])
#print(df.iloc[0:20,[0,22]],'\n\n',df.iloc[0:20,[2,23]])

In [4]:
df.describe()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,1342.000000,1342.000000,1342.000000,1342.000000,1342.000000,1342.000000,1342.000000,1342.000000,1342.000000,1342.000000,...,1342.000000,1342.000000,1342.000000,1342.000000,1342.000000,1.342000e+03,1342.000000,1342.000000,1342.000000,1342.000000
mean,66.839791,2007.824888,0.912817,67.895529,181.493294,25.504471,3.896028,209.708326,79.575261,2095.188525,...,82.674367,5.811990,83.660209,2.379285,2291.307570,7.539782e+06,5.066393,5.161252,0.621674,11.668405
std,38.213113,4.068563,0.282209,8.520095,129.730494,62.072625,3.603623,244.266431,24.919047,9846.311407,...,22.930832,2.118918,21.433091,6.610068,2852.104358,1.462374e+07,4.098241,4.157792,0.139145,2.574168
min,0.000000,2000.000000,0.000000,44.000000,1.000000,0.000000,0.010000,0.000000,2.000000,0.000000,...,3.000000,0.740000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.279000,4.200000
25%,34.000000,2005.000000,1.000000,62.800000,96.000000,1.000000,0.582500,30.465148,74.250000,0.000000,...,78.000000,4.450000,81.000000,0.100000,391.584463,1.914238e+05,2.000000,2.000000,0.501000,10.100000
50%,70.500000,2008.000000,1.000000,69.700000,159.000000,4.000000,3.070000,91.710581,89.000000,15.500000,...,92.000000,5.670000,92.000000,0.100000,1192.239660,1.363606e+06,3.700000,3.800000,0.651000,11.900000
75%,100.000000,2011.000000,1.000000,73.900000,247.000000,25.000000,6.257500,331.943503,96.000000,427.500000,...,97.000000,6.987500,97.000000,1.175000,3491.228142,7.268290e+06,7.400000,7.400000,0.724000,13.300000
max,129.000000,2015.000000,1.000000,89.000000,723.000000,549.000000,17.310000,998.349805,99.000000,131441.000000,...,99.000000,14.390000,99.000000,50.600000,29657.442100,9.736677e+07,21.600000,22.000000,0.920000,20.700000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1342 entries, 0 to 1341
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          1342 non-null   int16
 1   Year                             1342 non-null   int64
 2   Status                           1342 non-null   int8
 3   Life expectancy                  1342 non-null   float64
 4   Adult Mortality                  1342 non-null   int64
 5   infant deaths                    1342 non-null   int64
 6   Alcohol                          1342 non-null   float64
 7   percentage expenditure           1342 non-null   float64
 8   Hepatitis B                      1342 non-null   int64
 9   Measles                          1342 non-null   int64
 10   BMI                             1342 non-null   float64
 11  under-five deaths                1342 non-null   int64
 12  Polio                            1342 non-null   int64
 13  Total expenditure                1342 non-null   float64
 14  Diphtheria                       1342 non-null   int64
 15   HIV/AIDS                        1342 non-null   float64
 16  GDP                              1342 non-null   float64
 17  Population                       1342 non-null   float64
 18   thinness  1-19 years            1342 non-null   float64
 19   thinness 5-9 years              1342 non-null   float64
 20  Income composition of resources  1342 non-null   float64
 21  Schooling                        1342 non-null   float64
dtypes: float64(12), int16(1), int64(8), int8(1)
memory usage: 213.7 KB

In [6]:
X=dataset.iloc[:,2:]
y=dataset.iloc[:,3]
print (X)

      Status  Life expectancy   Adult Mortality  infant deaths  Alcohol  \
0          1              65.0              263             62     0.01
1          1              59.9              271             64     0.01
2          1              59.9              268             66     0.01
3          1              59.5              272             69     0.01
4          1              59.2              275             71     0.01
...      ...               ...              ...            ...      ...
1337       1              44.3              723             27     4.36
1338       1              44.5              715             26     4.06
1339       1              44.8               73             25     4.43
1340       1              45.3              686             25     1.72
1341       1              46.0              665             24     1.68

      percentage expenditure  Hepatitis B  Measles    BMI   \
0                  71.279624           65      1154   19.1
1                  73.523582           62       492   18.6
2                  73.219243           64       430   18.1
3                  78.184215           67      2787   17.6
4                   7.097109           68      3013   17.2
...                      ...          ...       ...    ...
1337                0.000000           68        31   27.1
1338                0.000000            7       998   26.7
1339                0.000000           73       304   26.3
1340                0.000000           76       529   25.9
1341                0.000000           79      1483   25.5

      under-five deaths   Polio  Total expenditure  Diphtheria    HIV/AIDS  \
0                     83      6               8.16           65        0.1
1                     86     58               8.18           62        0.1
2                     89     62               8.13           64        0.1
3                     93     67               8.52           67        0.1
4                     97     68               7.87           68        0.1
...                  ...    ...                ...          ...        ...
1337                  42     67               7.13           65       33.6
1338                  41      7               6.52           68       36.7
1339                  40     73               6.53           71       39.8
1340                  39     76               6.16           75       42.1
1341                  39     78               7.10           78       43.5

             GDP  Population   thinness  1-19 years   thinness 5-9 years  \
0     584.259210  33736494.0                   17.2                 17.3
1     612.696514    327582.0                   17.5                 17.5
2     631.744976  31731688.0                   17.7                 17.7
3     669.959000   3696958.0                   17.9                 18.0
4      63.537231   2978599.0                   18.2                 18.2
...          ...         ...                    ...                  ...
1337  454.366654  12777511.0                    9.4                  9.4
1338  453.351155  12633897.0                    9.8                  9.9
1339   57.348340    125525.0                    1.2                  1.3
1340  548.587312  12366165.0                    1.6                  1.7
1341  547.358879  12222251.0                   11.0                 11.2

      Income composition of resources  Schooling
0                               0.479       10.1
1                               0.476       10.0
2                               0.470        9.9
3                               0.463        9.8
4                               0.454        9.5
...                               ...        ...
1337                            0.407        9.2
1338                            0.418        9.5
1339                            0.427       10.0
1340                            0.427        9.8
1341                            0.434        9.8

[1342 rows x 20 columns]

In [8]:

from sklearn.preprocessing import MinMaxScaler

x = X.values #returns a numpy array
min_max_scaler = MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled,columns=df.columns[2:])

print(df)

      Status  Life expectancy   Adult Mortality  infant deaths   Alcohol  \
0        1.0          0.466667         0.362881       0.112933  0.000000
1        1.0          0.353333         0.373961       0.116576  0.000000
2        1.0          0.353333         0.369806       0.120219  0.000000
3        1.0          0.344444         0.375346       0.125683  0.000000
4        1.0          0.337778         0.379501       0.129326  0.000000
...      ...               ...              ...            ...       ...
1337     1.0          0.006667         1.000000       0.049180  0.251445
1338     1.0          0.011111         0.988920       0.047359  0.234104
1339     1.0          0.017778         0.099723       0.045537  0.255491
1340     1.0          0.028889         0.948753       0.045537  0.098844
1341     1.0          0.044444         0.919668       0.043716  0.096532

      percentage expenditure  Hepatitis B  Measles       BMI   \
0                   0.071397     0.649485  0.008780  0.227696
1                   0.073645     0.618557  0.003743  0.221039
2                   0.073340     0.639175  0.003271  0.214381
3                   0.078313     0.670103  0.021203  0.207723
4                   0.007109     0.680412  0.022923  0.202397
...                      ...          ...       ...       ...
1337                0.000000     0.680412  0.000236  0.334221
1338                0.000000     0.051546  0.007593  0.328895
1339                0.000000     0.731959  0.002313  0.323569
1340                0.000000     0.762887  0.004025  0.318242
1341                0.000000     0.793814  0.011283  0.312916

      under-five deaths      Polio  Total expenditure  Diphtheria    HIV/AIDS  \
0               0.094425  0.031250           0.543590     0.649485   0.000000
1               0.097838  0.572917           0.545055     0.618557   0.000000
2               0.101251  0.614583           0.541392     0.639175   0.000000
3               0.105802  0.666667           0.569963     0.670103   0.000000
4               0.110353  0.677083           0.522344     0.680412   0.000000
...                  ...       ...                ...          ...        ...
1337            0.047782  0.666667           0.468132     0.649485   0.663366
1338            0.046644  0.041667           0.423443     0.680412   0.724752
1339            0.045506  0.729167           0.424176     0.711340   0.786139
1340            0.044369  0.760417           0.397070     0.752577   0.831683
1341            0.044369  0.781250           0.465934     0.783505   0.859406

           GDP  Population   thinness  1-19 years   thinness 5-9 years  \
0     0.019645    0.346489               0.795349             0.785388
1     0.020604    0.003364               0.809302             0.794521
2     0.021246    0.325898               0.818605             0.803653
3     0.022534    0.037969               0.827907             0.817352
4     0.002086    0.030591               0.841860             0.826484
...        ...         ...                    ...                  ...
1337  0.015265    0.131230               0.432558             0.424658
1338  0.015230    0.129755               0.451163             0.447489
1339  0.001877    0.001289               0.051163             0.054795
1340  0.018442    0.127006               0.069767             0.073059
1341  0.018400    0.125528               0.506977             0.506849

      Income composition of resources  Schooling
0                            0.312012   0.357576
1                            0.307332   0.351515
2                            0.297972   0.345455
3                            0.287051   0.339394
4                            0.273011   0.321212
...                               ...        ...
1337                         0.199688   0.303030
1338                         0.216849   0.321212
1339                         0.230889   0.351515
1340                         0.230889   0.339394
1341                         0.241810   0.339394

[1342 rows x 20 columns]

In [ ]:
# What is the correlation between variables?

correlation=X.corr(method='pearson')
print(correlation)

In [ ]:
#There are various kinds of visualizations we can try with python..We already 
#saw scatter and line plots.. Lets look at histograms 
#Histograms
from matplotlib import pyplot
#df.hist(bins=5)
df.boxplot()
pyplot.show()

In [ ]:
plt.figure(figsize=(12,10))
sns.heatmap(dataset.corr(),cmap='viridis',annot=True)

In [ ]:
df.columns